<div class="container">
    <div class="row d-flex">
        <button class="navbar-toggler btn bg-popstar" type="button" data-toggle="filter" 
        (click)="toggleNavbar = !toggleNavbar" data-target="#filter" aria-controls="filter" aria-expanded="false"
        aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>

        <div class="input-group search mx-auto">
            <input type="search" #search class="form-control"
             placeholder="I'm looking for..." value="{{config.search}}"/>
            <button type="button" class="btn bg-popstar" (click)="onSearch(search.value)">
                <i class="bi bi-search"></i>
            </button>
        </div>

        <div ngbDropdown>
            <button class="btn btn-outline-primary" id="sortDropDown" class="btn bg-popstar"
             ngbDropdownToggle>{{config.sortType}}</button>
             <div ngbDropdownMenu aria-labelledby="sortDropDown">
                <a ngbDropdownItem *ngFor="let type of sortTypes" 
                    [queryParams]="{sortType:type}" queryParamsHandling='merge' [routerLink]="[]">{{type}}</a>
              </div>
        </div>
    </div>
</div>

<div class="wrapper d-flex align-items-stretch mt-2">
    <nav class="ml-2 px-1 pt-2" id="filter" [ngbCollapse]="toggleNavbar">
        <h4>Filters</h4>
        <app-filter name="Restaurant" [options]="restaurantNames"></app-filter>
        <app-filter name="Category" [options]="dishCategories"></app-filter>
    </nav>
    <div class="p-md-3 w-100">
        <div class="card text-center">
            <div class="card-body d-flex">
                <ul class="col justify-content-between">
                    <li *ngFor="let item of dishes | paginate: config" class="mb-2 list-item">
                        <img src="{{imgSrc}}" (click)="openAddToCart(item)" class="list-image">
                        <div>
                            <span>{{item.name}}</span>
                        </div>
                        <div>
                            <span>{{item.price}}₴</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-footer pb-0 pt-3">
                <pagination-controls 
                    (pageChange)="pageChanged($event)">
                </pagination-controls>
            </div>
        </div>
    </div>    
</div>


