USE [FoodDelivery]
GO

CREATE TABLE [dbo].[RestaurantRequest](
	[Id] [uniqueidentifier] NOT NULL,
	[UserProfileId] [uniqueidentifier] NOT NULL,
	[RestaurantId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[ClosedDate] [datetime2](0) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_RestaurantRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RestaurantRequest] ADD  CONSTRAINT [DefaultRestaurantRequestStatusIdConstraint]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[RestaurantRequest]  WITH CHECK ADD  CONSTRAINT [FK_RestaurantRequest_Restaurant] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Restaurant] ([Id])
GO
ALTER TABLE [dbo].[RestaurantRequest] CHECK CONSTRAINT [FK_RestaurantRequest_Restaurant]
GO
ALTER TABLE [dbo].[RestaurantRequest]  WITH CHECK ADD  CONSTRAINT [FK_RestaurantRequest_UserProfile] FOREIGN KEY([UserProfileId])
REFERENCES [dbo].[UserProfile] ([Id])
GO
ALTER TABLE [dbo].[RestaurantRequest] CHECK CONSTRAINT [FK_RestaurantRequest_UserProfile]
GO

ALTER TABLE [dbo].[Dish] ADD Status int NOT NULL
GO

ALTER TABLE [dbo].[Restaurant] ADD Status int NOT NULL
GO