USE [FoodDelivery]
GO
/****** Object:  Table [dbo].[DishRating]    Script Date: 4/15/2021 10:29:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DishRating](
	[Id] [uniqueidentifier] NOT NULL,
	[DishId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_DishRating] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestaurantRating]    Script Date: 4/15/2021 10:29:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestaurantRating](
	[Id] [uniqueidentifier] NOT NULL,
	[RestaurantId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_RestaurantRating] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DishRating]  WITH CHECK ADD  CONSTRAINT [FK_DishRating_Dish] FOREIGN KEY([DishId])
REFERENCES [dbo].[Dish] ([Id])
GO
ALTER TABLE [dbo].[DishRating] CHECK CONSTRAINT [FK_DishRating_Dish]
GO
ALTER TABLE [dbo].[DishRating]  WITH CHECK ADD  CONSTRAINT [FK_DishRating_UserProfile] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserProfile] ([Id])
GO
ALTER TABLE [dbo].[DishRating] CHECK CONSTRAINT [FK_DishRating_UserProfile]
GO
ALTER TABLE [dbo].[RestaurantRating]  WITH CHECK ADD  CONSTRAINT [FK_RestaurantRating_Restaurant] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Restaurant] ([Id])
GO
ALTER TABLE [dbo].[RestaurantRating] CHECK CONSTRAINT [FK_RestaurantRating_Restaurant]
GO
ALTER TABLE [dbo].[RestaurantRating]  WITH CHECK ADD  CONSTRAINT [FK_RestaurantRating_UserProfile] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserProfile] ([Id])
GO
ALTER TABLE [dbo].[RestaurantRating] CHECK CONSTRAINT [FK_RestaurantRating_UserProfile]
GO

ALTER TABLE DishRating
ADD CONSTRAINT CK_DishRating_Rating_Range CHECK (
   Rating >= 0 AND Rating <= 5
)
GO

ALTER TABLE RestaurantRating
ADD CONSTRAINT CK_RestaurantRating_Rating_Range CHECK (
   Rating >= 0 AND Rating <= 5
)
GO

ALTER TABLE DishRating
  ADD CONSTRAINT Unique_User_Dish UNIQUE(UserId, DishId);

ALTER TABLE RestaurantRating
  ADD CONSTRAINT Unique_User_Restaurant UNIQUE(UserId, RestaurantId);

ALTER TABLE Dish
DROP COLUMN Rating;

ALTER TABLE Restaurant
DROP COLUMN Rating;