<div class="text-center">
    <button class="btn btn-green my-3" (click)="addRestaurant()">Add new restaurant</button>
    <h4>{{userHelper.profile.firstName}} {{userHelper.profile.lastName}}'s restaurants:</h4>
</div>

<div class="mx-5 my-2" *ngFor="let rs of restaurants">
    <div class="wrapper d-flex align-items-stretch">
        <img src="{{imgSrc}}" class="mr-2 w-75">
        <div class="w-100">
            <div class="text-right">
                <button class="btn btn-teamblue" (click)="updateRestaurant(rs)"><i class="bi bi-pencil"></i></button>
                <button class="btn btn-red ml-5" (click)="removeRestaurant(rs.id)"><i class="bi bi-x"></i></button>
            </div>
            <div class="text-center">
                <p class="lead"><b>{{rs.name}}</b></p>
            </div>
            <p class="container">{{rs.description}}</p>
            <div class="text-center">
                <button class="btn btn-green">Manage menu</button>
            </div>
            <p>Addresses:</p>
            <button class="ml-3 btn btn-t-green" (click)="addAddress(rs)"><i class="bi bi-plus"></i></button>
            <ul>
                <li *ngFor="let address of rs.addresses" class="my-2">
                    {{address.city}}, {{address.address}}
                    <button class="btn btn-t-red btn-sm ml-5" [disabled]="rs.addresses.length==1"
                        (click)="removeAddress(address)">
                        <i class="bi bi-x"></i>
                    </button>
                </li>
            </ul>
        </div>    
    </div>
    <hr>
</div>