.text-green{
    color: #06C167
}

.text-red{
    color: #D64933;
}

.text-yellow{
    color: #FFC043;
}

.active{
    color: white;
    background-color: #06C167;
    border-radius: 5%;
}

.banner {
    width: 80%;
}
  
@media only screen and (max-width: 600px) {
    .banner {
        width: 100%;
    }
    .navbar{
        padding: 0;
    }
    .nav-link{
        padding: 0.2em 0.6em;
    }
}

.navbar{
    padding: 0.2em;
}

.banner-dish-img{
    width: 100%;
    max-height: 600px;
}

.banner-restaurant-img{
    width: 100%;
    max-height: 500px;
}

