.text-green{
    color: #06C167
}

.text-red{
    color: #D64933;
}

.text-yellow{
    color: #FFC043;
}

.bg-green{
    background-color: #06C167;
}

.bg-red{
    background-color: #D64933;
    color: white;
}

.bg-yellow{
    background-color: #FFC043;
}

.active{
    color: white;
    background-color: #06C167;
    border-radius: 5%;
}

.banner {
    width: 80%;
}

@media only screen and (max-width: 900px) {
    div .card-body ul li {
        flex: 0 0 49%;
    }
}

@media only screen and (max-width: 600px) {
    .banner {
        width: 100%;
    }
    .navbar{
        padding: 0;
    }
    .nav-link{
        padding: 0.2em 0.6em;
    }

    .search{
        width: 90%;
    }

    div .card-body ul li {
        flex: 0 0 100%;
    }
}

.navbar{
    padding: 0.2em;
}

.banner-dish-img{
    width: 100%;
    max-height: 600px;
}

.banner-restaurant-img{
    width: 100%;
    max-height: 500px;
}

.btn-green{
    color: white;
    background-color: #06C167;
}

.btn-yellow{
    background-color: #FFC043;
}

.btn-red{
    color: white;
    background-color: #D64933;
}

.btn-teamblue{
    color: white;
    background-color: #477890;
}

.search{
    width: 70%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.form-group{
    margin-bottom: 0.2rem;
}

app-filter{
    display: block;
}


.card-body ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }

.card-body ul li {
    list-style: none;
    flex: 0 0 32%;
}

.card-body {
    padding: 0.75rem;
}

img{
    cursor: pointer;
}

.list-item{
    padding: 0.3em;
    border: thin lightgray solid;
}

.list-image{
    width: 100%;
}

.form-control.ng-touched.ng-valid {
    border-left: 5px solid #06C167; 
}
  
.form-control.ng-touched.ng-invalid {
    border-left: 5px solid #D64933; 
}