<footer class="footer text-center bg-dark text-white pt-2 flex-nowrap">
  <div class="container">
      <div class="row pt-2">
          <!-- Footer About Text-->
          <div class="col-lg-4">
            <h4 class="mb-2">About Food<span class="text-green">Delivery</span></h4>
            <p>
              Food delivery is the best delivery service. Also it is my first big project!
            </p>
          </div>
          <!-- Footer Social Icons-->
          <div class="col-lg-4 mb-lg-0">
            <h4 class="mb-2">Around the <span class="text-green">Web</span></h4>
            <a class="mx-2" target="_blank" href="https://www.instagram.com/nripey/">
              <i class="bi bi-instagram"></i>
            </a>
            <a class="mx-2" target="_blank" href="https://telegram.me/nripey">
              <i class="bi bi-telegram"></i>
            </a>
            <a class="mx-2" target="_blank" href="https://ua.linkedin.com/in/nazar-ripey-096b81204">
              <i class="bi bi-linkedin"></i>
            </a>
            <a class="mx-2" target="_blank" href="mailto:nripey@gmail.com?Subject=Food%20Delivery">
              <i class="bi bi-envelope"></i>
            </a>
          </div>
          <!-- Footer Legal-->
          <div class="col-lg-4 mb-lg-0">
              <h4 class="mb-2 text-green">Legal</h4>
              <ul class="list-group list-unstyled">
                <li><a class="text-white" href="#">Privacy Policy</a></li>
                <li><a class="text-white" href="#">Terms of Use</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>