<div class='container-fluid mb-5 cursor-pointer'>   
    <h3 class="title text-center"><i>Top rated dishes</i></h3>
    <div class='banner mx-auto'>  
        <ngb-carousel>  
            <ng-template ngbSlide *ngFor="let dish of dishes">  
                <img src="{{imgSrc}}" alt={{dish.name}} (click)="openAddToCart(dish.id)" class="banner-img">  
                <div class="carousel-caption">  
                    <h1>{{dish.name}}</h1>
                    <h5>{{dish.price}}₴</h5>
                    <h5 class="text-right">
                        <ngb-rating [(rate)]="dish.rating.averageRating" max="5" [readonly]="true">
                        <ng-template let-fill="fill" >
                           <span class="default-rating font-xx-large" [class.filled]="fill === 100">
                               <span class="painted-rating font-xx-large" [style.width.%]="fill">&#9733;</span>&#9733;
                           </span>
                         </ng-template>
                        </ngb-rating>
                    </h5>
                </div>  
            </ng-template> 
        </ngb-carousel>  
    </div>  
</div>  