.cart-item-image{
    width: 30%;
    max-height: 200px;
    margin-right: 1em;
}

.price-width{
    width: 55%;
}

.cart-container{
    width: 90%;
    margin: 0 auto;
}

div .card-body ul li {
    flex: 0 0 49.5%;
}

@media only screen and (max-width: 900px) {
    div .card-body ul li {
        flex: 0 0 100%;
    }
}