<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">
            Confirm order
        </h4>
        <button class="close" (click)="modalRef.close()">&times;</button>
    </div>
    <div class="modal-body">
        <form [formGroup]="confirmOrderForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="w-50">
                    Payment type
                    <select class="form-control" formControlName="paymentType">
                        <option *ngFor="let paymentType of paymentTypes| enumKeys" [ngValue]="paymentType">
                            {{paymentType}}
                        </option>
                    </select>
                    <div *ngIf="confirmOrderForm.get('paymentType').errors && 
                        confirmOrderForm.get('paymentType').touched" class="text-danger">
                        <small class="d-block" 
                            *ngIf="confirmOrderForm.get('paymentType').hasError('required')">
                            Payment type is required
                        </small>
                    </div>
                </label>
            </div>
            <div class="form-group">
                <label class="w-50">
                    Contact phone number:
                    <input type="text" class="form-control" formControlName="phoneNumber">
                    <div *ngIf="confirmOrderForm.get('phoneNumber').errors && 
                    confirmOrderForm.get('phoneNumber').touched" class="text-danger">
                        <small class="d-block" *ngIf="confirmOrderForm.get('phoneNumber').hasError('required')">
                            Phone is required
                        </small>
                        <small class="d-block" *ngIf="confirmOrderForm.get('phoneNumber').hasError('pattern')">
                            Phone should match the pattern +380123456789
                        </small>
                    </div>
                </label>
            </div>
            <div class="form-group">
                <label class="w-100">
                    Address
                    <input type="text" class="form-control" formControlName="address">
                    <div *ngIf="confirmOrderForm.get('address').errors && confirmOrderForm.get('address').touched"
                        class="text-danger">
                        <small class="d-block" *ngIf="confirmOrderForm.get('address').hasError('required')">
                            Address is required
                        </small>
                    </div>
                </label>
            </div>
            <div class="form-group">
                <label class="w-100">
                    Comment (optional)
                    <textarea class="form-control" formControlName="comment">
                    </textarea>
                </label>
            </div>

            <div *ngIf="confirmOrderForm.hasError('server') && confirmOrderForm.touched" class="text-danger">
                <div [ngSwitch]="confirmOrderForm.errors['server']">
                    <p *ngSwitchCase="errorsEnum.ModelInvalid">
                        Model is invalid
                    </p>
                    <p *ngSwitchDefault>
                        {{confirmOrderForm.errors['server']}}
                    </p>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn bg-green" [disabled]="confirmOrderForm.invalid">Confirm</button>   
            </div>
        </form>        
    </div>
</div>