<div class="text-right">
    <app-readonly-rating [average]="dish.rating.averageRating" 
        [ratedCount]="dish.rating.ratedCount">
    </app-readonly-rating>
</div>
<img [src]="dish.base64Image" class="list-image">
<div class="d-flex justify-content-between my-2 mx-3">
    <button class="btn bg-green" (click)="openAddToCart()">
        Add to cart
    </button>
    <button class="btn bg-popstar" [routerLink]="['/dishes', dish.id]">
        Details
    </button>
</div>
<div>
    <span>{{dish.name}}</span>
</div>
<div>
    <span>{{dish.price}}₴</span>
</div>