a{
    color: black;
    font-size: 1.2em;
}

a:hover{
    color: #06C167
}

.logo:hover{
    transform: scale(1.1);
}

.logo:hover h3{
    color: #06C167;
}

.navbar{
    background-color: white;
}

.logo:hover span{
    color: black;
}

.bi{
    font-size: 1.2em;
}