.cart-image{
    max-width: 50%;
}

.cart-wrapper{
    display: flex;
    align-items: stretch;
}

.modal-content{
    min-width: fit-content;
}

@media only screen and (max-width: 450px) {
    .cart-wrapper{
        display: block;
    }
    .cart-image{
        max-width: 100%;
    }
    p{
        margin-bottom: 0.3rem;
    }
}