a{
    color: white;
    font-size: 1.2em;
}

button{
    color: white;
}

a:hover{
    color: #06C167
}

.logo:hover{
    transform: scale(1.1);
}

.logo:hover h3{
    color: #06C167;
}

.logo:hover span{
    color: white;
}

.bi{
    font-size: 1.2em;
}

.nav-link{
    cursor: pointer;
}

.dropdown-menu{
    min-width: fit-content
}

ul li{
 margin: auto 0;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 10px;
}

#lblCartCount {
    font-size: 12px;
    background: #FFC043;
    color: #fff;
    padding: 2px 4px;
    vertical-align: top;
    margin-left: -8px; 
}