<nav class="navbar navbar-expand-lg border-bottom mb-2 bg-dark d-flex">
    <a class="nav-link logo" [routerLink]="['/']">
        <h2>Food<span class="text-green">Delivery</span></h2>
    </a>
    <ul class="nav nav-pills mr-auto">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dishes']">Dishes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/restaurants']">Restaurants</a>
        </li>
    </ul>

    <ul class="nav nav-pills ml-auto" *ngIf="userHelper.profile; else unauthorized">
        <div *ngIf="userHelper.isInRole(['admin'])" class="d-flex">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/requests']">Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/ordermanagers']">Order managers</a>
            </li>
        </div>
        <li *ngIf="userHelper.ownerRequestStatus" class="nav-item">
            <a class="nav-link" [routerLink]="['/manage']">Manage my restaurants</a>
        </li>
        <li *ngIf="userHelper.isInRole(['orderManager'])" class="nav-item">
            <a class="nav-link" [routerLink]="['/manageorders']">Manage orders</a>
        </li>
        <li class="nav-item">
            <div ngbDropdown class="nav-link">
                <button class="btn btn-outline-primary" id="profile" class="btn bg-green"
                    ngbDropdownToggle><i class="bi bi-person"></i></button>
                <div ngbDropdownMenu aria-labelledby="profile" class="bg-dark">
                    <a ngbDropdownItem class="px-1">My profile</a>
                    <a ngbDropdownItem class="px-1" [routerLink]="['/orders']">Orders</a>
                    <a ngbDropdownItem class="px-1">Setting</a>
                    <a ngbDropdownItem class="px-1" (click)="LogOut()">Log out</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cart']">
                <i class="bi bi-cart4"></i>
                <span *ngIf="cartHelper.info && cartHelper.info.total" class='badge badge-warning' id='lblCartCount'>
                    {{cartHelper.info.total}}
                </span>
            </a>
        </li>
        <li class="nav-item" *ngIf="cartHelper.info && cartHelper.info.timeLeft">
            <small class="text-white">
                cart expires in {{cartHelper.info.timeLeft| minutesSeconds}}
            </small>
        </li>
    </ul>

    <ng-template #unauthorized>        
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
        (click)="toggleNavbar = !toggleNavbar" data-target="#account" aria-controls="account" aria-expanded="false"
        aria-label="Toggle navigation">
            <i class="bi bi-person"></i>
        </button>
        <div class="collapse navbar-collapse" id="account" [ngbCollapse]="toggleNavbar">
            <ul class="nav nav-pills ml-auto">
                <li class="nav-item ml-auto">
                    <a class="nav-link" (click)="openSignUp()">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="openLogIn()">Log in</a>
                </li>
            </ul>
        </div>
    </ng-template>
</nav>