a{
    color: white;
    font-size: 1.2em;
}

button{
    color: white;
}

a:hover{
    color: #06C167
}

.logo:hover{
    transform: scale(1.1);
}

.logo:hover h3{
    color: #06C167;
}

.logo:hover span{
    color: white;
}

.bi{
    font-size: 1.2em;
}

.nav-link{
    cursor: pointer;
}

.dropdown-menu{
    min-width: fit-content
}

ul li{
 margin: auto 0;
}