<span>Popular this week:</span>

<div class='container-fluid'>   
  <div class='col-12'>  
      <ngb-carousel>  
          <ng-template ngbSlide>  
              <img src="assets/images/burger.jfif" alt="Delhi Metro">  
              <div class="carousel-caption">  
                  <h3 style="color: yellow">Delhi Metro</h3>  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="assets/images/cake.jfif" alt="Bangalore Metro">  
              <div class="carousel-caption">  
                  <h3 style="color: yellow">Bangalore Metro</h3>  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="assets/images/pizza-salami.jfif" alt="Channai Metro">  
              <div class="carousel-caption">  
                  <h3 style="color: yellow">Channai Metro</h3>  
              </div>  
          </ng-template>   
      </ngb-carousel>  
  </div>  
</div>  