<div *ngIf="dish">
    <div class="text-center">
        <h1>{{dish.name}}</h1>
    </div>
    
    <div class="detail-wrapper mx-5 my-2">
        <img src="{{imgSrc}}" class="restaurant-image">
        <div class="w-100">
            <div>
                <small>your rate:</small>
                <ngb-rating [(rate)]="dish.userRating" max="5" (rateChange)="rateDish()"
                [readonly]="!userHelper.isInRole(['customer'])">
                <ng-template let-fill="fill" >
                   <span class="default-rating font-x-large" [class.filled]="fill === 100">
                       <span class="painted-rating font-x-large" [style.width.%]="fill">&#9733;</span>&#9733;
                   </span>
                 </ng-template>
                </ngb-rating>
                <span class="ml-5 font-x-large">{{dish.rating.averageRating}} 
                    <small>({{dish.rating.ratedCount}})</small>
                </span>    
            </div>

            <div class="my-1 text-center">
                <p>
                    from <a [routerLink]="['/restaurants', dish.restaurantName]">
                        {{dish.restaurantName}}</a>
                </p>
            </div>

            <p>{{dish.description}}</p>
            <p class="text-left">category: <b>{{dish.category.name}}</b></p>
            <p class="text-left">price: <b>{{dish.price}}₴</b></p>
            <p class="text-left">weight: <b>{{dish.weight}}</b></p>
        </div>   
    </div>

    <hr>

    <div class="text-center my-3">
        <button (click)="AddToCart(dish.id)" class="btn bg-green">Add to cart</button>
    </div>
</div>