<div *ngIf="restaurantStatus==restaurantStatuses.Active">
  <div class="row d-flex mb-3 mt-2">
      <div class="mx-auto search">
        <app-search [value]="filterParams.search" placeholder="John Doe"></app-search>
      </div>
  </div>

  <div class="table-responsive">
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Order number</th>
              <th scope="col">Created date</th>
              <th scope="col">Status</th>
              <th scope="col">Total sum</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders$| async |paginate: config"
              [class.bg-warning]="order.status==orderStatuses.ChangeQuantityReplied">
              <td>{{order.orderNumber}}</td>
              <td>{{order.createdDate | date:'short'}}</td>
              <td>{{orderStatuses[order.status]}}</td>
              <td><b>{{order.totalSum}}</b></td>
              <td><button class="btn btn-sm bg-green" (click)="startCooking(order.id)">Start cooking</button></td>
            </tr>
          </tbody>
      </table>  
  </div>
  <div class="text-center pb-0 pt-3">
      <pagination-controls 
          (pageChange)="pageChanged($event)">
      </pagination-controls>
  </div>
</div>
<div *ngIf="restaurantStatus&&restaurantStatus!=restaurantStatuses.Active">
  <div class="text-center mt-2">
    <h2>This restaurant is inactive!</h2>
  </div>
</div>
