<div class='container-fluid mb-5'>   
    <h4 class="text-red">Top rated dishes:</h4>
    <div class='banner mx-auto'>  
        <ngb-carousel>  
            <ng-template ngbSlide *ngFor="let dish of dishes">  
                <img src="{{dish.imgSource}}" alt={{dish.name}} class="banner-dish-img"  
                    (click)="openAddToCart(dish)">  
                <div class="carousel-caption">  
                    <h1>{{dish.name}}</h1>
                    <h5>{{dish.price}}₴</h5>
                    <h5 class="text-right">{{dish.rating}}/5</h5>
                </div>  
            </ng-template> 
        </ngb-carousel>  
    </div>  
</div>  
