<button (click)="expanded = !expanded" class="filter-btn">
    <div class="d-flex">
        <span class="mr-3">{{name}}</span>
        <i *ngIf="expanded" class="bi bi-caret-up-fill"></i>
        <i *ngIf="!expanded" class="bi bi-caret-down-fill"></i>
    </div>
</button>

<ul *ngIf="expanded" class="list-unstyled">
    <li *ngFor="let option of options">
       <label>
            <input type="checkbox" [checked]="checkedOptions.includes(option)"
                (change)="onCheckBoxChange($event)" value="{{option}}" id="{{option}}"/>
            {{option}}
        </label>
    </li>
</ul>