<button (click)="expanded = !expanded" class="filter-btn">
    <div class="d-flex">
        <span class="mr-3">{{name}}</span>
        <i *ngIf="expanded" class="bi bi-caret-up-fill"></i>
        <i *ngIf="!expanded" class="bi bi-caret-down-fill"></i>
    </div>
</button>

<ul *ngIf="expanded" class="list-unstyled">
    <li>
        <label><input type="checkbox" [checked]="values.includes(this.p1)"
            (change)="onCheckBoxChange($event)" value="{{p1}}"/>Page1</label>
    </li>
    <li>
        <label><input type="checkbox" [checked]="values.includes(this.p2)"
            (change)="onCheckBoxChange($event)" value="{{p2}}"/>Page2</label>
    </li>
    <li>
        <label><input type="checkbox" [checked]="values.includes(this.p3)"
            (change)="onCheckBoxChange($event)" value="{{p3}}"/>Page3</label>
    </li>
</ul>