<div class="container">
    <div class="row d-flex mb-3 mt-2">
        <div class="mx-auto search">
            <app-search [value]="orderFilterParams.search" placeholder="Order number"></app-search>
        </div>
        
        <app-status-drop-down [selectedStatus]="selectedStatus" [statuses]="statuses"></app-status-drop-down>
    </div>    
</div>

<div class="b">
    <div class="text-center mb-2">
        <h2><a [routerLink]="['/orders']">Active orders</a></h2>
    </div>
    
    <div class="wrapper d-flex align-items-stretch mt-2" *ngIf="orderResponse.orders">
        <div class="p-md-3 w-100">
            <div *ngIf="orderResponse.orders.length == 0">
                <div class="text-center">
                    <h4>Order history is empty</h4>
                    <i class="bi bi-clipboard-x"></i>
                </div>
            </div>
            <div *ngIf="orderResponse.orders.length > 0">
                <h4 class="text-center">Order history</h4>
                <div class="container card">
                    <div class="card-body">
                        <ul class="d-block">
                            <li *ngFor="let order of orderResponse.orders | paginate: config" 
                                class="mb-2 list-item">
                                <app-order-list-item [order]="order"></app-order-list-item>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer text-center pb-0 pt-3">
                        <pagination-controls 
                            (pageChange)="pageChanged($event)">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>