<div class='container-fluid mb-5 cursor-pointer'>   
    <h3 class="text-center"><i>Top rated restaurants</i></h3>
    <div class='banner mx-auto'>  
        <ngb-carousel>  
            <ng-template ngbSlide *ngFor="let restaurant of restaurants">  
                <a [routerLink]="['/restaurants', restaurant.name]">
                    <img src="{{imgSrc}}" alt={{restaurant.name}} class="banner-img">  
                    <div class="carousel-caption">  
                        <h1>{{restaurant.name}}</h1>
                        <h5 class="text-right">
                            <ngb-rating [(rate)]="restaurant.rating.averageRating" max="5" [readonly]="true">
                                <ng-template let-fill="fill" >
                                   <span class="default-rating font-xx-large" [class.filled]="fill === 100">
                                       <span class="painted-rating font-xx-large" [style.width.%]="fill">&#9733;</span>&#9733;
                                   </span>
                                 </ng-template>
                            </ngb-rating>
                        </h5>
                    </div>  
                </a>
            </ng-template> 
        </ngb-carousel>  
    </div>  
</div>  