<div class="row d-flex mb-3 mt-2">
    <div class="mx-auto search">
      <app-search [value]="filterParams.search" placeholder="John Doe"></app-search>
    </div>

    <app-status-drop-down [selectedStatus]="selectedStatus" [statuses]="statuses"></app-status-drop-down>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Order number</th>
            <th scope="col">Status</th>
            <th scope="col">Customer name</th>
            <th scope="col">Contact phone</th>
            <th scope="col">Created date</th>
            <th scope="col">Total sum</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i = index; let order of orders$| async | paginate: config"
                [class.bg-warning]="order.status==statuses.ChangeQuantityRequested"
                [class.bg-light-green]="order.status==statuses.Ready">
                <td>{{order.orderNumber}}</td>
                <td>{{statuses[order.status]}}</td>
                <td>{{order.customerName}}</td>
                <td>{{order.contactPhoneNumber}}</td>
                <td>{{order.createdDate | date:'short'}}</td>
                <td><b>{{order.totalSum}}</b></td>
                <td>
                    <button class="btn bg-popstar btn-sm" (click)="showItems(order.id)">Items</button>
                </td>
                <td *ngIf="order.status==statuses.AwaitingManagerVerification">
                    <button class="btn bg-green btn-sm" (click)="verifyOrder(order.id)">Verify</button>
                </td>
                <td *ngIf="order.status>=statuses.ChangeQuantityRequested&&order.status<=statuses.Completed">
                    <button class="btn bg-green btn-sm" (click)="manageOrder(order.id)">Manage</button>
                </td>
                <td *ngIf="order.status==statuses.Ready">
                    <button class="btn btn-sm bg-green" (click)="startDelivery(order.id)">
                        Start delivery
                    </button>
                </td>
                <td *ngIf="order.status==statuses.Delivering">
                    <button class="btn btn-sm bg-green" (click)="deliveryCompleted(order)">
                        Delivery completed
                    </button>
                </td>
                <td *ngIf="order.status==statuses.AwaitingManagerVerification">
                    <button class="btn btn-danger btn-sm" (click)="releaseOrder(order.id)">
                        Release
                    </button>
                </td>
            </tr>
        </tbody>
    </table>  
</div>
<div class="text-center pb-0 pt-3">
    <pagination-controls 
        (pageChange)="pageChanged($event)">
    </pagination-controls>
</div>