<div class="container">
    <div class="row d-flex">
        <div class="input-group search mx-auto">
            <input type="search" class="form-control"
             placeholder="John Doe" [(ngModel)]="searchParam"/>
            <button type="button" class="btn btn-green" (click)="onSearch()">
                <i class="bi bi-search"></i>
            </button>
        </div>
    
        <div ngbDropdown>
            <button class="btn btn-outline-primary" id="sortDropDown" class="btn btn-green" name="status" ngDefaultControl 
             ngbDropdownToggle [(ngModel)]="selectedRoleRequestStatus">{{selectedRoleRequestStatus}}</button>
            <div ngbDropdownMenu aria-labelledby="sortDropDown">
                <a ngbDropdownItem>All</a>
                <a ngbDropdownItem *ngFor="let status of statuses()">{{status}}</a>
            </div>
        </div>
    </div>
</div>