<a [routerLink]="['/restaurants', restaurant.name]">
    <div class="text-right">
        <ngb-rating [(rate)]="restaurant.rating" 
        max="5" [readonly]="true">
        <ng-template let-fill="fill" >
           <span class="default-rating" [class.filled]="fill === 100">
               <span class="painted-rating" [style.width.%]="fill">&#9733;</span>&#9733;
           </span>
         </ng-template>
       </ngb-rating>
       <span class="mx-1">{{restaurant.rating.averageRating}} 
           <small>({{restaurant.rating.ratedCount}})</small>
        </span>
    </div>
    <img src="{{imgSrc}}" class="list-image">
    <div>
        <span>{{restaurant.name}}</span>
    </div>
</a>