<div *ngIf="order.status>=statuses.ChangeQuantityRequested&&order.status<=statuses.Completed"
    class="text-right">
  <button class="btn btn-sm bg-green" (click)="trackOrder(order.id)">Track</button>
</div>
<div class="text-center">
    <p>
      <b>
        Order number: {{order.orderNumber}}
      </b>
    </p>
    <a  [routerLink]="['/orders', order.id]">
      details
    </a>
</div>
<div>
    <p>Status: {{statuses[order.status]}}</p>
    <p>Contact number: {{order.contactPhoneNumber}}</p>
    <p>Created date: {{order.createdDate | date:'short'}}</p>
    <p *ngIf="order.closedDate">Closed date: {{order.closedDate | date:'short'}}</p>
</div>
<hr>
<div class="text-center">
    <p><b>Total {{order.totalSum}}</b></p>
</div>