<div class="text-center">
    <p><b>
        <a  [routerLink]="['/orders', order.id]">
            Order number: {{order.orderNumber}}
        </a>
    </b></p>
</div>
<div>
    <p>Status: {{statuses[order.status]}}</p>
    <p>Created date: {{order.createdDate | date:'short'}}</p>
    <p *ngIf="order.closedDate">Closed date: {{order.closedDate | date:'short'}}</p>
</div>
<div class="text-center">
    <p><b>Items</b></p>
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of order.orderItems">
        <td>{{item.dish.name}}</td>
        <td>{{item.dish.price}}</td>
        <td>{{item.quantity}}</td>
        <td><b>{{item.quantity * item.dish.price}}</b></td>
      </tr>
    </tbody>
  </table>  

<hr>
<div class="text-center">
    <p><b>Total {{order.totalSum}}</b></p>
</div>