<div *ngIf="restaurant">
    <div class="text-center">
        <h1>{{restaurant.name}}</h1>
    </div>
    
    <div class="detail-wrapper mx-5 my-2">
        <img src="{{imgSrc}}" class="restaurant-image">
        <div class="w-100">
            <h5 class="text-right">{{restaurant.rating}}/5</h5>
            <p class="container mt-3">{{restaurant.description}}</p>
            <p>Addresses:</p>
            <ul>
                <li *ngFor="let address of restaurant.addresses" class="my-2">
                    {{address.city}}, {{address.address}}
                </li>
            </ul>
        </div>   
    </div>
    <div class="text-center">
        <h3>Menu</h3>
    </div>
    <div class="p-md-3">
        <div class="card text-center">
            <div class="card-body d-flex">
                <ul class="col justify-content-around">
                    <li *ngFor="let dish of restaurant.dishes" class="mb-2 list-item">
                        <app-dish-list-item [dish]="dish"></app-dish-list-item>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>