<div class="container mt-2">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./available']" routerLinkActive="active">Available</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./taken']" routerLinkActive="active">Taken</a>
      </li>
      <li class="ml-auto nav-item">
        <a class="nav-link" [routerLink]="['./history']" routerLinkActive="active">History</a>
      </li>
    </ul>  
  
    <router-outlet></router-outlet>
</div>